version: 2.1

orbs:
  go: snyk/go@1.1.0
  prodsec: snyk/prodsec-orb@1
  win: circleci/windows@5.0.0

base_image: &base_image
  resource_class: small
  docker:
    - image: cimg/go:1.24

jobs:
  unit-test-linux:
    <<: *base_image
    steps:
      - checkout
      - run: go test ./...
  unit-test-windows:
    executor:
      name: win/default
      shell: powershell.exe -ExecutionPolicy Bypass
    steps:
      - checkout
      - run: |
          choco install golang --version=1.24.7 -y
          refreshenv
          go version
          go test ./...
  lint:
    <<: *base_image
    resource_class: medium
    steps:
      - checkout
      - run: golangci-lint run -v ./...

  security-scans:
    <<: *base_image
    steps:
      - checkout
      - prodsec/security_scans:
          mode: auto
          iac-scan: disabled

workflows:
  version: 2
  CI:
    jobs:
      - prodsec/secrets-scan:
          name: Scan repository for secrets
          context:
            - snyk-bot-slack
          channel: snyk-vuln-alerts-iac
          trusted-branch: main
          filters:
            branches:
              ignore:
                - main
      - security-scans:
          name: Security Scans
          context:
            - analysis-iac
      - unit-test-linux:
          name: Unit Test (Linux)
      - unit-test-windows:
          name: Unit Test (Windows)
      - lint:
          name: Linting
